<div>
  <p>投稿ユーザー画像<%= @image.user.name%></p>
  <p>キャンプ場:<%= @image.camp_site_name %></p>
    <%= attachment_image_tag @image, :image %>
    <%= @image.caption %>
    <% if @image.user == current_user %>
      <%= link_to "削除",image_path(@image),method: :delete %>
    <%end%>
</div>